pipeline/PL_Ingest_Adzuna.json
{
	"name": "PL_Ingest_Adzuna",
	"properties": {
		"activities": [
			{
				"name": "Get_Cities_And_Codes",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT \n    e.City, \n    m.CountryCode \nFROM stg_education_costs e\nJOIN DimCountryMapping m ON e.Country = m.CountryName\nWHERE e.City IS NOT NULL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_StgEducationCosts",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Cities_And_Codes').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Fetch_Adzuna_JSON",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": {
										"value": "@concat(item().CountryCode, '/search/1?app_id=', pipeline().parameters.AdzunaAppId, '&app_key=', pipeline().parameters.AdzunaAppKey, '&where=', item().City, '&what=data')",
										"type": "Expression"
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Rest_AdzunaJobs",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Blob_RawJobs",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().CountryCode, '_', item().City, '_raw.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"AdzunaAppId": {
				"type": "string",
				"defaultValue": "b2486541"
			},
			"AdzunaAppKey": {
				"type": "string",
				"defaultValue": "d63e05cde4a5e6f64ad24471d2461a4f"
			}
		},
		"annotations": []
	}
}