pipeline/PL_Ingest_Adzuna.json
{
	"name": "PL_Ingest_Adzuna",
	"properties": {
		"activities": [
			{
				"name": "Get_Cities_And_Codes",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT \n    e.City, \n    m.CountryCode \nFROM stg_education_costs e\nJOIN DimCountryMapping m ON e.Country = m.CountryName\nWHERE e.City IS NOT NULL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_StgEducationCosts",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Cities_And_Codes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Cities_And_Codes').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Fetch_Adzuna_JSON",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": "Accept: application/json\nContent-Type: application/json\nUser-Agent: python-requests/2.28.1",
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Http_Adzuna",
									"type": "DatasetReference",
									"parameters": {
										"RelativeUrlPath": {
											"value": "@concat('https://api.adzuna.com/v1/api/jobs/', trim(item().CountryCode), '/search/1?app_id=', trim(pipeline().parameters.AdzunaAppId), '&app_key=', trim(pipeline().parameters.AdzunaAppKey), '&results_per_page=50&where=', uriComponent(trim(item().City)), '&what=data')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Blob_RawJobs",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().CountryCode, '_', item().City, '_raw.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"AdzunaAppId": {
				"type": "string",
				"defaultValue": "b2486541"
			},
			"AdzunaAppKey": {
				"type": "string",
				"defaultValue": "d63e05cde4a5e6f64ad24471d2461a4f"
			}
		},
		"annotations": []
	}
}